<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Generate Question Paper</title>
        <meta name="viewport" content=""width=device-width,initial-scale=1>
        

    </head>


    <link rel="stylesheet" href="second.css">
    
    <textbox>
<body>
    <div class="wrapper">
        <div class="image"></div>
    </div>
    
    <h1>Automatic Paper Generator</h1>
    <div class="faculty"> 
        <table>
            <tr>
                <td>Branch:
            
    <select name="faculty"id=select>
        <option selected disabled>SELECT FACULTY</option>
        <OPTION VALUE="BEX">BEX</OPTION>
        <OPTION VALUE="BCT">BCT</OPTION>
        <OPTION VALUE="BCM">BCM</OPTION>

    </td> 
    </tr>

        
       
    </select>
</table>
    </div>


<div class="year">
        <table>
     <td>Year:
     <select name="year"id=year>
         <option selected disabled>SELECT YEAR</option>
            <OPTION VALUE="1">1</OPTION>
              <OPTION VALUE="2">2</OPTION>
              <OPTION VALUE="3">3</OPTION>
             <OPTION VALUE="4">4</OPTION>
    </select>
</td>
</table>
</div>


<div class=" PART">
    <table>
   <td>Part: <select name="part" id =part>
        <option selected disabled>SELECT PART</option>
        <option value="I">I</option>
        <option value="II">II</option>
        </select>
    </td>
    </table>
</div>


    <div class="subject">
        <table>
        <td>Subject: <select name="subject"id=subject>
           <option selected disable>SELECT SUBJECT</option>
           <option value="ENGINEERING PHYSICS">ENGINEERING PHYSICS</option>
           <option value="BASIC ELECTRICALS">BASIC ELECTRONICS</option>
           <option value="ENG MATHS">ENGINEERING MATHS</option>
        </select>
        </td>
    </table>
    </div>
</body>
    </textbox> 
    <table>
    <div class="generate">
    <button >GENERATE</button>
    <button>cancel</button>
        </div>
    </table>
   
    
</html>